/* ==========================================================================
   TOP Rock Paper Scissors - CSS
   ========================================================================== */

/**
 * Goals
 *
 * 1. Responsive flex layout where my svg picture scales to the size of the 
 *      viewing window.
 * 2. Change layout based on screen dimensions to ensure the largest svg size
 * 
 */

/* Layout
   ========================================================================== */

/**
 * Only contains the most essential css properties
 *
 * 1. set max width to ratio h*w of svg viewbox in 
 *      relationship to browser window height. max-width: 100vw; normally this  
 *      is how I would do max-width but in combination with flex, the viewbox 
 *      will keep scaling wider even though the vertical max is reached 
 *      preventing the svg itslef from scaling. This messes with layout.
 * 2. set max height to 100% of browser window height
 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#gameInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#gameInfoDiv {
    display:flex;
}
#scoreBoard {
    display:flex;
    flex-direction: row;
}
svg {
    max-width: 145.1vh; /* 1 */
    max-height: 100vh;  /* 2 */
}

/* Styling
   ========================================================================== */

/**
 * 1. fix button autosizing with flex
 */

#scoreBoardTitle > * {
    font-style: italic;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
#scoreBoard {
    justify-content: space-evenly;
    padding: 0.25em;
}
.scoreText {
    margin-left: 0.25em;
    margin-right: 0.25em;
    max-width: 9ch;
}
 #result {
    font-size: 1.2em;
    font-style: italic;
}
button {
    margin-top: 2vh;
    align-self: center;/* 1 */
}

/* Orientation specific selectors
   ========================================================================== */

/**
 * 1. Instead of using #gameInfo {justify-content: center;} this instead 
 *      references the top margin to place the game text. This prevents jitter 
 *      as the text wraps to the bottom with gameplay 
 * 2. Set max-width to allow text wrap since flex will resize a lot otherwise
 */

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    #gameInfoDiv {
        flex-direction: column;
        margin-top: 25vh; /* 1 */
    }
    #result {
        max-width: 28ch; /* 2 */
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
        align-items: center; 
    }
    #gameInfoDiv {
        flex-direction: row;
        align-items: flex-end;
    }
    #result {
        margin-top: 2vh;
    }
}
