html * {
    border: 1px solid red;
}
body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    
    justify-content: space-around;
}
.gameInfo {
    display:flex;
    flex-grow: 1;
    /*flex: 0.25 1 1;*/
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    text-justify: center;
    font-style: italic;
}
#scoreBoard {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
    font-style: normal;
}
#scoreBoard2ndHalf {
    
}
#svg2 {
    /*may need to do resizing in js*/
    /*
    width: 98vmin;
    height: 68.9vmin;
    */
    
    width: (1.451* 95vmin);
    height: 95vmin;
    
    max-width: 100vw;
    max-height: 100vh;
/*
    max-width: 100vmin;
    max-height: 100vmin;
    */

    /*width: 100vw;                scale width to 100% of view window */
    /*max-width: 100vh;            as long as element does not leave window vertically  */
    /*height: 68.9vh;              scale height to proportions of svg */
    /*max-height: 68.9vw;          ensure element does not scale beyond proportion */
}

#result {
    border: 2px solid black;
}